        
<!--Files TPL -> Library Smarty Template please not use HTML -->
<input type="hidden" name="base_url_list" id="base_url_list" value="{base_url('franquia/listFranquia') }">
<input type="hidden" name="base_url_add" id="base_url_add" value="{base_url('franquia/add') }">

        </br>
        <div class="wrapper wrapper-content" >
            <div class="container">
              <div class="row">
				<div class="col-md-2">
				</div>

                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Alteração de Franquia em % ou $ <small> </small></h5>
                        </div>
                        <div class="ibox-content">
                            <form  class="form-horizontal">
                                <input type="hidden" name="" value="" >

								<div class="form-group"><label class="col-sm-2 control-label">Id Os</label>

                                    <div class="col-sm-2"><input type="text" class="form-control" name="id_exp" id="id_exp"  required=""></div>
                                </div>
								<div class="form-group"><label class="col-sm-2 control-label">Id Chamado</label>

                                    <div class="col-sm-2"><input type="text" class="form-control" name="id_chamado" id="id_chamado" value="TSIS-" required=""></div>
                                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Franquia</label>

                                    <div class="col-sm-2"><input type="text" class="form-control" name="vlr_franquia" id="vlr_franquia" required=""></div>
                                </div>  
                <div class="form-group"><label class="col-sm-2 control-label">Tipo</label>

                                    <div class="col-sm-3"><INPUT  type="radio" id="opcao" name="opcao" value="op1"> Porcentagem &nbsp;&nbsp;&nbsp;&nbsp;
                                    <INPUT  type="radio" name="opcao" value="op2"> Valor </div>
                                </div>  



								<div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button name="btn-exec" id="btn-exec" value="Executar" class="btn btn-gray" type="button" ><i class="fa fa-list"></i>&nbsp;Listar</button>
                                    </div>
                                </div>
                            </form>
                                
                                <div class="hr-line-dashed"  ></div>
                                  <div id="divAppend">
                                    <div style="overflow: auto;height:  300px" id="divList">
                                        
                                    </div>    
                                  </div>

                            <div class="hr-line-dashed"></div>




                        </div>
                    </div>
                </div>
            </div>

            </div>

        </div>


<script >
  {literal}


    $('document').ready(function(){   



    //execute SQL
    $('#btn-exec').on('click' ,function(){


        var url    = $('#base_url_list').val(); 


        var tr  = $(this),
          show    = tr.data('show'),
          hide    = tr.data('hide');

          var id_exp      = $("#id_exp").val();
          var id_chamado  = $("#id_chamado").val();
          var franquia    = $("#vlr_franquia").val(); 

          //verify if % or $$$
          var opcao = $("#opcao").is(":checked")

          if(opcao==true && franquia > 0.50){
            var msg = 'O valor da franquia tem que ser menor que 0.50';
            alertMsg(msg,'yellow');
            return;
          }else if(franquia==""){
            var msg = 'A franquia não pode estar vazia';
            alertMsg(msg,'yellow');            
            return;
          }

          if(id_exp =="" || id_chamado =="" ){
            var msg = 'Os campos id do chamado e Oss são obrigatórios.';
            alertMsg(msg,'yellow');
            return;
          }else if(id_chamado=="TSIS-"){
            var msg = 'Insira um número de chamado válido após o Hífen';
            alertMsg(msg,'yellow');   
            return;         
          }



        $.jAlert({
              'title':'Executar?',
              'type':'confirm',
              'content':'Deseja  listar?',
                  'theme': 'blue',
                  'showAnimation' : show,
                  'hideAnimation' : hide,
                  'confirmBtnText': "Sim",
                  'denyBtnText': 'Não',
              'onConfirm': function() {



                    //---------------------------initialize AJAX GET
                    $.ajax({
                            cache:false,
                            type: 'POST',
                            url: url,
                            data: {id: id_exp,id_chamado:id_chamado},
                            dataType: "json",
                            success: function(data) {
                         


                         if(data.list.success){ 

                            $('#divList').remove();

                                $("#divAppend").append('<div id="divList" style="overflow: auto;height:  300px" ><table id="tableList"  class="table table-striped table-bordered table-sm" >'+
                                                '<thead id="the"><tr><td>Id Relação</td><td>Oss</td><td>Código Estipulante</td><td>Id Produto</td><td>Id Cobertura</td></tr>'+
                                                '</thead>'+
                                                '<tbody id="tbodyList" >'+
                                                '</tbody>'+
                                            '</table></div>')    

                                    var rows = "";
                                    var i=0;

                                    $.each(data.list.custom.query, function (i, item) {


                                            rows = rows + "<tr class='' >";
                                            rows = rows + "<td class='tdid' style='cursor:pointer;color:blue' data-id='"+item.id_relacao +"'>"+item.id_relacao+"</td>";
                                            rows = rows + "<td class='tdidlog"+i+"' data-idexp='"+item.id_exp +"'>"+item.id_exp+"</td>";
                                            rows = rows + "<td class='tdidlog"+i+"' data-cod-estipulante='"+item.cod_estipulante +"'>"+item.cod_estipulante+"</td>";
                                            rows = rows + "<td class='tdidlog"+i+"' data-idproduto='"+item.id_produto +"'>"+item.id_produto+"</td>";
                                            rows = rows + "<td class='tdidlog"+i+"' data-idcobertura='"+item.id_cobertura +"'>"+item.id_cobertura+"</td>";

                                            i=i+1;                              
                                    });


                                        
                                        $("#tbodyList").html(rows);
                                        $('#tableList').DataTable();
                                        //add class search datatable and order col
                                        $('.dataTables_length').addClass('bs-select'); 
                                        $('.tdid').removeClass('sorting_1');

                                        //-----------------------------------show table
                               
                               }else{
                                  msg="não existe franquia para ser alterada com essa Oss";  
                                  alertMsg(msg,'yellow');  
                                  $('#divList').remove();
                               }  

                            }
                    });
              },
            }); 
      
        });

    $(document).on('click', '.tdid', function() { 

      var url      = $('#base_url_add').val();
      var relacao  = $(this).data("id");
      var chamado  = $("#id_chamado").val();
      var id_exp   = $("#id_exp").val();
      var franquia = $("#vlr_franquia").val();

      //verify if % or $$$
      var opcao = $("#opcao").is(":checked")

        var tr  = $(this),
          show    = tr.data('show'),
          hide    = tr.data('hide');


        if(opcao==true && franquia > 0.50){
          var msg = 'O valor da franquia tem que ser menor que 0.50 e/ou escolha o tipo correto';
          alertMsg(msg,'yellow');
          return;
        }else if(franquia==""){
          var msg = 'A franquia não pode estar vazia';
          alertMsg(msg,'yellow');            
          return;
        }



        if(id_exp =="" || id_chamado =="" ){
          var msg = 'Os campos id do chamado e Oss são obrigatórios.';
          alertMsg(msg,'yellow');
          return;
        }else if(id_chamado=="TSIS-"){
            var msg = 'Insira um número de chamado válido após o Hífen';
            alertMsg(msg,'yellow'); 
            return;           
          }


          if(opcao==true)
            var msg = 'Deseja Alterar a PORCENTAGEM(%)  da Franquia desse id (' +relacao+' )?';
          else
            var msg = 'Deseja Alterar o VALOR($$$) da Franquia desse id (' +relacao+' )?'

        $.jAlert({
              'title':'Executar?',
              'type':'confirm',
              'content':msg,
                  'theme': 'blue',
                  'showAnimation' : show,
                  'hideAnimation' : hide,
                  'confirmBtnText': "Sim",
                  'denyBtnText': 'Não',
              'onConfirm': function() {


                    //---------------------------initialize AJAX GET
                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: {chamado:chamado,id_exp: id_exp,franquia: franquia,relacao: relacao,opcao: opcao},
                            dataType: "json",
                            success: function(data) {
           

                               if(data.success){
                                  var msg = data.message;
                                  alertMsg(msg,'green');


                               }else{
                                  var msg = data.message;
                                  alertMsg(msg,'red');
                               }

                            }
                    });
              },
            });      
    });
 
 });


    function alertMsg(msg,color){

        var title = "";

        if(color=="green"){
          title = "Sucesso";
        }else if(color=="yellow"){
          title="opsss!";
        }else if (color=="red"){
          title="Erro";
        }  
        

        var tr  = $(this),
          show    = tr.data('show'),
          hide    = tr.data('hide');

                $.jAlert({

                  'title':title,
                  'content':msg,
                      'theme': color,
                      'position':'600px',
                       
                      'showAnimation' : show,
                      'hideAnimation' : hide,
                       callback: function(value){ 
                                     // console.log(value); 
                               },
                      'btns': { 'text': 'Fechar' },       
                            'onOpen': function(alert){
                                window.setTimeout(function(){
                                    alert.closeAlert();
                                }, 3000);
                            }
                   });
                return;

    }


 {/literal}

</script>