        <div class="wrapper wrapper-content">
            <div class="container">
           	<div class="row">
			</BR>
                <div class="col-md-2">
				            <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">Qtde</span>
                            <h5>Realizadas</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">8745</h1>
                            <div class="stat-percent font-bold text-success">76% <i class="fa fa-bolt"></i></div>
                        </div>
                    </div>
                </div>



        </div>
