	  <div class="footer fixed">
        <div class="pull-right">
        	
						
            <!--<strong>Usuário: </strong> {$user_login }-->
        </div>
	      <div>
	          <strong>Copyright</strong> Sis Soluções
	      </div>
    </div>

  </div>
</div>
</body>
</html>
